<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>Season Ticket Catering</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/stc.css" rel="stylesheet" />
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="controller/assistance.js"></script>
    <script>
        var model = {
            user: "Adam",
            items: [{ description: "Hot Dog - Ketchup, Mustard", qty: 2 },
                { description: "Large Beer", qty: 2 }]
        };

        var todoApp = angular.module("todoApp", ['ui.bootstrap', 'ngRoute']);

        todoApp.config(function ($routeProvider) {
            $routeProvider
                .when('/welcome', { templateUrl: '/views/welcome.html' })
                .when('/scoreboard', { templateUrl: '/views/scoreboard.html' })
                .when('/menu', { templateUrl: '/views/menu.html' })
                .when('/order', { templateUrl: '/views/order.html' })
                .when('/map', { templateUrl: '/views/map.html' })
                .when('/hotdog', { templateUrl: '/views/OrderHotDog.html' })
                .when('/beverages', { templateUrl: '/views/OrderBeverages.html' })
                .when('/instantbeer', { templateUrl: '/views/instantbeer.html' })
                .when('/', { templateUrl: '/views/welcome.html' })
                .otherwise({ redirectTo: '/views/welcome.html' });
        });

        todoApp.controller("ToDoCtrl", function ($scope) {
            $scope.order = model;

            var items = localStorage.getItem('items');

            if (!items) {
                $scope.order.items = [];
            }
            else {
                $scope.order.items = JSON.parse(items);
            }

            $scope.active = 'Welcome';
            $scope.withRelish = false;
            $scope.withKetchup = false;
            $scope.withMustard = false;
            $scope.withOnions = false;
            $scope.water = false;
            $scope.smallBeer = false;
            $scope.largeBeer = true;
            $scope.ketchupLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
            $scope.mustardLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
            $scope.relishLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
            $scope.onionsLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
            $scope.waterLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
            $scope.smallBeerLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
            $scope.largeBeerLabelStyle = { 'color': 'black', 'text-align': 'center' };
            $scope.qtyHotdog = 1;
            $scope.qtyDrinks = 1;
            $scope.labelInstantBeer = 'Delivered to your seat.';

            $scope.incompleteCount = function () {
                var count = 0;
                angular.forEach($scope.todo.items, function (item) {
                    if (!item.done) { count++; };
                });
                return count;
            }

            $scope.warningLevel = function () {
                return $scope.incompleteCount() < 3 ? "label-success" : "label-warning";
            }

            $scope.addNewItem = function (actionText) {
                $scope.todo.items.push({ action: actionText, done: false });
            }

            $scope.isActive = function (page) {
                return page == $scope.active;
            }

            $scope.goMenu = function (menu) {
                $scope.active = menu;
            }

            $scope.hasRelish = function () {
                return $scope.withRelish;
            }

            $scope.hasKetchup = function () {
                return $scope.withKetchup;
            }

            $scope.hasMustard = function () {
                return $scope.withMustard;
            }

            $scope.hasOnions = function () {
                return $scope.withOnions;
            }

            $scope.orderWater = function () {
                return $scope.water;
            }

            $scope.orderSmallBeer = function () {
                return $scope.smallBeer;
            }

            $scope.orderLargeBeer = function () {
                return $scope.largeBeer;
            }

            $scope.imageWater = function () {
                return $scope.orderWater() ? "img/water.png" : "img/water_off.png";
            }

            $scope.imageSmallBeer = function () {
                return $scope.orderSmallBeer() ? "img/beer_small.png" : "img/beer_small_off.png";
            }

            $scope.imageLargeBeer = function () {
                return $scope.orderLargeBeer() ? "img/beer_large.png" : "img/beer_large_off.png";
            }

            $scope.imageRelish = function () {
                return $scope.hasRelish() ? "img/relish.png" : "img/relish_off.png";
            }

            $scope.imageKetchup = function () {
                return $scope.hasKetchup() ? "img/ketchup.png" : "img/ketchup_off.png";
            }

            $scope.imageMustard = function () {
                return $scope.hasMustard() ? "img/mustard.png" : "img/mustard_off.png";
            }

            $scope.imageOnions = function () {
                return $scope.hasOnions() ? "img/onions.png" : "img/onions_off.png";
            }

            $scope.toggleWater = function () {

                if ($scope.water)
                {
                    return;
                }

                $scope.water = true;
                $scope.smallBeer = false;
                $scope.largeBeer = false;

                $scope.waterLabelStyle = { 'color': 'black', 'text-align': 'center' };
                $scope.smallBeerLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
                $scope.largeBeerLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
            }

            $scope.toggleSmallBeer = function () {

                if ($scope.smallBeer) {
                    return;
                }

                $scope.water = false;
                $scope.smallBeer = true;
                $scope.largeBeer = false;

                $scope.waterLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
                $scope.smallBeerLabelStyle = { 'color': 'black', 'text-align': 'center' };
                $scope.largeBeerLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
            }

            $scope.toggleLargeBeer = function () {

                if ($scope.largeBeer) {
                    return;
                }

                $scope.water = false;
                $scope.smallBeer = false;
                $scope.largeBeer = true;

                $scope.waterLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
                $scope.smallBeerLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
                $scope.largeBeerLabelStyle = { 'color': 'black', 'text-align': 'center' };

            }

            $scope.toggleRelish = function () {
                $scope.withRelish = !$scope.withRelish;

                if ($scope.hasRelish()) {
                    $scope.relishLabelStyle = { 'color': 'black', 'text-align': 'center' };
                } else {
                    $scope.relishLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
                }
            }

            $scope.toggleKetchup = function () {
                $scope.withKetchup = !$scope.withKetchup;

                if ($scope.hasKetchup()) {
                    $scope.ketchupLabelStyle = { 'color': 'black', 'text-align': 'center' };
                } else {
                    $scope.ketchupLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
                }
            }
            $scope.toggleMustard = function () {
                $scope.withMustard = !$scope.withMustard;

                if ($scope.hasMustard()) {
                    $scope.mustardLabelStyle = { 'color': 'black', 'text-align': 'center' };
                } else {
                    $scope.mustardLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
                }
            }

            $scope.toggleOnions = function () {
                $scope.withOnions = !$scope.withOnions;

                if ($scope.hasOnions()) {
                    $scope.onionsLabelStyle = { 'color': 'black', 'text-align': 'center' };
                } else {
                    $scope.onionsLabelStyle = { 'color': 'lightgray', 'text-align': 'center' };
                }
            }

            $scope.hotDogCount = function () {
                return "Qty: " + $scope.qtyHotdog;
            }

            $scope.drinkCount = function () {
                return "Qty: " + $scope.qtyDrinks;
            }

            $scope.lessDrinks = function () {
                var drinks = $scope.qtyDrinks - 1;

                if (drinks < 1) {
                    $scope.qtyDrinks = 1;
                }
                else {
                    $scope.qtyDrinks = drinks;
                }
            }

            $scope.lessHotdogs = function () {
                var hotdogs = $scope.qtyHotdog - 1;

                if (hotdogs < 1) {
                    $scope.qtyHotdog = 1;
                }
                else {
                    $scope.qtyHotdog = hotdogs;
                }
            }

            $scope.moreDrinks = function () {
                var drinks = $scope.qtyDrinks + 1;

                if (drinks < 1) {
                    $scope.qtyDrinks = 1;
                }
                else {
                    $scope.qtyDrinks = drinks;
                }
            }

            $scope.moreHotdogs = function () {
                var hotdogs = $scope.qtyHotdog + 1;

                if (hotdogs < 1) {
                    $scope.qtyHotdog = 1;
                }
                else {
                    $scope.qtyHotdog = hotdogs;
                }
            }

            $scope.descriptionInstantBeer = function () {
                return $scope.labelInstantBeer;
            }

            $scope.orderInstantBeer = function () {
                if ($scope.largeBeer) {
                    $scope.labelInstantBeer = 'Large Beer';
                }

                if ($scope.smallBeer) {
                    $scope.labelInstantBeer = 'Small Beer';
                }
            }

            $scope.orderDrinks = function () {

                var description = 'Water';
                var cost = 5;

                if ($scope.largeBeer) {
                    description = 'Large Beer';
                    cost = 7;
                }
                if ($scope.smallBeer) {
                    description = 'Small Beer';
                }

                $scope.order.items.push({ 'description': description, 'qty': $scope.qtyDrinks, 'cost':cost });
                localStorage.setItem('items', JSON.stringify($scope.order.items));
            }

            $scope.hotDogDescription = function () {
                var description = 'Hot Dog';

                if ($scope.hasKetchup()) {
                    description += ', Ketchup';
                }

                if ($scope.hasMustard()) {
                    description += ', Mustard';
                }

                if ($scope.hasRelish()) {
                    description += ', Relish';
                }

                if ($scope.hasOnions()) {
                    description += ', Onions';
                }

                return description;
            }

            $scope.orderHotDog = function () {
                var description = $scope.hotDogDescription();
                $scope.order.items.push({ 'description': description, 'qty': $scope.qtyHotdog, 'cost':7 });
                localStorage.setItem('items', JSON.stringify($scope.order.items));
                $scope.goMenu('Order');
            }

            $scope.remove = function (item) {
                var index = $scope.order.items.indexOf(item)
                $scope.order.items.splice(index, 1);
                localStorage.setItem('items', JSON.stringify($scope.order.items));
            }

            $scope.orderTotal = function () {
                var total = 0;

                angular.forEach($scope.order.items, function (item, index) {
                    total += (item.cost * item.qty);
                });

                if (total == 0) {
                    return 0;
                }

                if ($scope.delivery()) {
                    total += 5;
                }

                return total;
            }

            $scope.orderEmpty = function () {
                return $scope.orderTotal() == 0;
            }

            $scope.delivery = function () {
                var total = 0;

                angular.forEach($scope.order.items, function (item, index) {
                    total += (item.cost * item.qty);
                });

                if (total == 0) {
                    return false;
                }

                return true;
            }

            $scope.orderNote = function () {

                var total = $scope.orderTotal();

                if (total == 0) {
                    return 'Check the menu to start an order.';
                }

                return '$' + total + '.00';
            }

            $scope.placeOrder = function () {
                angular.forEach($scope.order.items, function (item, index) {
                    $scope.remove(item);
                });
            };

            
        });
    </script>

    <script type="text/javascript">

        function updateClock() {
            var currentTime = new Date();

            var currentHours = currentTime.getHours();
            var currentMinutes = currentTime.getMinutes();
            var currentSeconds = currentTime.getSeconds();

            // Pad the minutes and seconds with leading zeros, if required
            currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;
            currentSeconds = (currentSeconds < 10 ? "0" : "") + currentSeconds;

            // Choose either "AM" or "PM" as appropriate
            var timeOfDay = (currentHours < 12) ? "AM" : "PM";

            // Convert the hours component to 12-hour format if needed
            currentHours = (currentHours > 12) ? currentHours - 12 : currentHours;

            // Convert an hours component of "0" to "12"
            currentHours = (currentHours == 0) ? 12 : currentHours;

            // Compose the string for display
            var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;

            // Update the time display
            document.getElementById("clock").firstChild.nodeValue = currentTimeString;
        }

    </script>

</head>
<body ng-controller="ToDoCtrl" onload="updateClock(); setInterval('updateClock()', 1000);">
    <header role="banner">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-collapse collapse">


                    <ul class="nav navbar-nav">
                        <li id="Welcome" ng-class="{active: isActive('Welcome')}">
                            <a href="#/welcome" ng-click="goMenu('Welcome')" style="width: 190px; height: 153px;">
                                <h2>Awesome<br/>Arena</h2>
                                <div id="clock">7:20 PM</div>
                                <div>70&deg; Cloundy</div>
                            </a>
                        </li>
                        <li id="Scoreboard" ng-class="{active: isActive('Scoreboard')}">
                            <a href="#/scoreboard" ng-click="goMenu('Scoreboard')" style="width: 190px; height: 153px;">
                                <h2>Scoreboard</h2>
                                <div align="center"><h4>3-2</h4></div>
                                <div align="center">Period: 2</div>
                                <div align="center">13:33 Remaining</div>
                            </a>
                        </li>
                        <li ng-class="{active: isActive('Menu')}">
                            <a href="#/menu" ng-click="goMenu('Menu')" style="width: 190px; height: 153px;">
                                <h2 align="center">Menu</h2>
                            </a>
                        </li>
                        <li ng-class="{active: isActive('Order')}">
                            <a href="#/order" ng-click="goMenu('Order')" style="width: 190px; height: 153px;">
                                <h2 align="center">Order Review</h2>
                                <div align="center">{{orderNote()}}</div>
                            </a>
                        </li>
                        <li ng-class="{active: isActive('Map')}">
                            <a href="#/map" ng-click="goMenu('Map')" style="width: 190px; height: 153px;">
                                <h2 align="center">Map</h2>
                            </a>
                        </li>
                        <li ng-controller="ModalDemoCtrl">
                            <script type="text/ng-template" id="assistance.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">Assistance Requested!</h3>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>A guest services representative will be with you shortly.</li>
                                        <br />
                                        <li>If you do not need assistance please tap the Cancel button below.</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>
                            <button ng-click="open('sm', 'assistance.html')" class="btn btn-danger btn-lg" style="margin-top: 10px; margin-left: 20px;">
                                <h3>Request</h3>
                                <h3>Assistance</h3>
                            </button>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="span8">

                <!-- Dynamic content -->
                <ng-view></ng-view>
            </div>
        </div>
    </div>
</body>
</html>
