<link href="../css/stc.css" rel="stylesheet" />
<script src="../controller/assistance.js"></script>
<div ng-controller="ToDoCtrl" style="margin-top: 135px; background: white">

    <section style="width: 60%; float: left;">
        <div>
            <section style="width: 15%; float: left; margin-top: 70px;">
                <a href="#/menu">
                    <img src="img/back.png" height="90" width="90" />
                </a>
            </section>
            <section class="ordering" style="width: 85%; float: left; margin-top: 25px;">
                <a href="#/menu"><h1>Menu</h1></a>
            </section>
        </div>
        <div style="margin-top: 200px" ng-controller="ModalDemoCtrl">
            <script type="text/ng-template" id="nutrition.html">
                <div class="modal-header">
                    <h3 class="modal-title">Nutrition Info</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Oh boy, this is bad for you.</li>
                        <br />
                        <li>Probably want to order a lite beer with this.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>
            <section style="width: 50%; float: left">
                <img style="margin-top: 60px;" src="{{imageSmallBeer()}}" ng-click="toggleSmallBeer()" />
                <h4 ng-style="smallBeerLabelStyle">Small Beer (12 oz.)</h4>
            </section>
            <section style="width: 50%; float: left">
                <img src="{{imageLargeBeer()}}" ng-click="toggleLargeBeer()" />
                <h4 ng-style="largeBeerLabelStyle">Large Beer (20 oz.)</h4>
            </section>
        </div>

        </div>
        <br />
        <div style="margin-top: 70px">
            <h4>Pay for your order when it is delivered to you, or when you pick it up!</h4>
        </div>
    </section>
    <section style="width: 40%; float: left;">

        <div style="margin-top: 153px;" class="input-group">
            <section style="float: left">
                <button class="glyphicon glyphicon-chevron-down" style="height: 50px; width: 80px" ng-click="lessDrinks()"></button>
            </section>
            <section style="float: left">
                <div style="height: 50px; width: 120px; border-color: slategray; border-style: solid">
                    <h2 style="margin-top: 5px; text-align: center">{{drinkCount()}}</h2>
                </div>
            </section>
            <section style="float: left">
                <button class="glyphicon glyphicon-chevron-up" style="height: 50px; width: 80px" ng-click="moreDrinks()"></button>
            </section>
        </div>
        
        <a href="#/order"><button style="float: left; margin-top: 10px; margin-right: 10px; " class="btn btn-primary btn-lg" ng-click="orderDrinks()">Add to Order</button></a>
        <button ng-controller="ModalDemoCtrl" style="margin-top: 10px; float: left; " class="btn btn-primary btn-lg" ng-click="open('sm', 'nutrition.html')">Nutrition</button>
    </section>
</div>
