<link href="../css/stc.css" rel="stylesheet" />
<div ng-controller="ToDoCtrl" style="height: 500px; margin-top: 135px; background: white">
    <div class="panel">
        <section style="width: 49%; float: left;">
            <a href="#/hotdog">
                <div class="menuitem">
                    <h1>Hot Dogs</h1>
                    <img style="margin: 10px;" src="/img/hotdog.jpg" />
                </div>
            </a>
        </section>
        <section style="width: 49%; float: right;">
            <a href="#/beverages">
                <div class="menuitem">
                    <h1>Beverages</h1>
                    <img style="margin: 10px;" src="/img/hotdog.jpg" />
                </div>
            </a>
        </section>
        <div>
            <section style="width: 32%; float: left; margin: 0 0.5%">
                <a href="#/menu">
                    <div class="menuitem">
                        <h1>Nachos</h1>
                        <img style="margin: 10px;" src="/img/hotdog.jpg" />
                    </div>
                </a>
            </section>
            <section style="width: 32%; float: left; margin: 0 1%">
                <a href="#/pretzels">
                    <div class="menuitem">
                        <h1>Pretzels</h1>
                        <img style="margin: 10px;" src="/img/hotdog.jpg" />
                    </div>
                </a>
            </section>
            <section style="width: 32%; float: left;">
                <a href="#/instantbeer">
                    <div class="menuitem">
                        <h1>Instant Beer</h1>
                        <img style="margin: 10px;" src="/img/hotdog.jpg" />
                    </div>
                </a>
            </section>
        </div>
    </div>
</div>
