<link href="../css/stc.css" rel="stylesheet" />
<script src="../controller/assistance.js"></script>
<div ng-controller="ToDoCtrl" style="margin-top: 135px; background: white">

    <section style="width: 60%; float: left;">
        <div>
            <section style="width: 15%; float: left; margin-top: 70px;">
                <a href="#/menu">
                    <img src="img/back.png" height="90" width="90" />
                </a>
            </section>
            <section class="ordering" style="width: 85%; float: left; margin-top: 25px;">
                <h1>Menu</h1>
            </section>
        </div>
        <div style="margin-top: 200px" ng-controller="ModalDemoCtrl">
            <script type="text/ng-template" id="nutrition.html">
                <div class="modal-header">
                    <h3 class="modal-title">Nutrition Info</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Oh boy, this is bad for you.</li>
                        <br />
                        <li>Probably want to order a lite beer with this.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>
            <img height="300" width="300" src="../img/hotdog.jpg" />
            <button style="margin-right: 160px; float: right; margin-top: 300px" class="btn btn-primary btn-lg" ng-click="open('sm', 'nutrition.html')">Nutrition</button>
        </div>
        <div style="margin-top: 70px">
            <h4>Pay for your order when it is delivered to you, or when you pick it up!</h4>
        </div>
    </section>
    <section style="width: 40%; float: left;">
        <h4 style="margin-top: 100px">Select the condiments you would like...</h4>
        <div style="margin-top: 40px">
            <section style="float: left; width: 50%; margin:auto">
                <img src="{{imageKetchup()}}" ng-click="toggleKetchup()" />
                <h4 ng-style="ketchupLabelStyle">Ketchup</h4>
            </section>
            <section style="float: left; width: 50%; margin: auto">
                <img src="{{imageMustard()}}" ng-click="toggleMustard()" />
                <h4 ng-style="mustardLabelStyle">Mustard</h4>
            </section>
        </div>
        <div style="margin-top: 50px">
            <section style="float: left; width: 50%; margin:auto">
                <img src="{{imageRelish()}}" ng-click="toggleRelish()" />
                <h4 ng-style="relishLabelStyle">Relish</h4>
            </section>
            <section style="float: left; width: 50%; margin: auto">
                <img src="{{imageOnions()}}" ng-click="toggleOnions()" />
                <h4 ng-style="onionsLabelStyle">Onions</h4>
            </section>
        </div>
        <div class="input-group">
            <section style="float: left"><img src="../img/less.png" style="height: 50px; width: 80px"></img></section>
            <section style="float: left"><input type="number" value="{{hotDogCount()}}" width="129px" height="129px" class="form-control input-lg well-lg"></input></section>
            <section style="float: left"><img src="../img/more.png" style="height: 50px; width: 80px"></img></section>
        </div>
    </section>
</div>