<div class="panel" ng-controller="ToDoCtrl" style="margin-top: 135px; background: white">
    <div style="width: 70%; float: left; height: 500px; background: lightgray; border-radius: 25px; margin-top: 50px;">
        <h1 style="font-size: 78pt; color: white; background: #003366; border-radius: 25px; padding-left: 20px; margin-top: 0px; align-self: center; font-family: 'Segoe UI Light';">Beverages</h1>
        <h1 style="font-size: 50px; font-family: 'Segoe UI Light'; padding-left: 100px;">to Awesome Arena</h1>
        <h2 style="padding-left: 20px; padding-top: 50px; font-family: 'Segoe UI Light'; font-size: 48pt;">This terminal is your interface to the features and facilities of the arena.</h2>
    </div>
    <div style="width: 30%; float: right; margin-top: 50px; border-radius: 25px;">
    </div>
</div>