<div class="panel" ng-controller="ToDoCtrl" style="margin-top: 135px; background: white">
    <div style="width: 70%; float: left; height: 500px; border-radius: 25px; margin-top: 50px;">
        <div>
            <div style="width: 15%; float:left;">
                <a href="#/menu">
                    <img src="img/back.png" height="100" width="100" />
                </a>
            </div>
            <div>
                <h1 style="font-size: 78pt; border-radius: 25px; padding-left: 20px; margin-top: 0px; align-self: center; font-family: 'Segoe UI Light';">Beverages</h1>
            </div>
        </div>

    </div>
    <div style="width: 30%; float: right; margin-top: 50px; border-radius: 25px;">
    </div>
</div>