<link href="../css/stc.css" rel="stylesheet" />
<div ng-controller="ToDoCtrl" style="height: 500px; margin-top: 135px; background: white">
    <div class="panel">
        <section style="width: 49%; float: left;">
            
                <div class="menuitem" style="background: transparent">
                    <h1>Order</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Qty</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in order.items">
                                <td>{{item.description}}</td>
                                <td>{{item.qty}}</td>
                                <td>${{item.qty*item.cost}}.00</td>
                                <td><button class="glyphicon glyphicon-remove" ng-click="remove(item)"></button></td>
                            </tr>
                            <tr ng-hide="!delivery()">
                                <td><b>Delivery Charge</b></td>
                                <td></td>
                                <td><b>$5.00</b></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td></td>
                                <td><b>${{orderTotal()}}.00</b></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
        </section>
        <section style="width: 49%; float: right;">
            <script type="text/ng-template" id="orderaccepted.html">
                <div class="modal-header">
                    <h3 class="modal-title">Order Placed</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Your order is on its way!</li>
                        <br />
                        <li>Please enjoy your time with us.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>
            <a href="#/order"><button ng-disabled="orderEmpty()" ng-controller="ToDoCtrl" style="float: left; margin-top: 80px; margin-right: 10px; " class="btn btn-primary btn-lg" ng-click="confirmOrderPlacement();">Place My Order</button></a>
        </section>
    </div>
</div>
