<div class="panel" ng-controller="ToDoCtrl" style="margin-top: 153px">
    <div><h3 style="text-align: center">15:33 Remaining</h3></div>
    <section class="menuitem" style="width: 40%; float: left; background: transparent;">
        <h1 style="text-align: center">Home</h1>
        <h1 style="font-size: 120pt; text-align: center">3</h1>
        <h5 style="text-align: center">Shots: 22</h5>
        <h5 style="text-align: center">Hits: 10</h5>
    </section>
    <section style="width: 20%; float: left;">
        <h3 style="margin-top: 100px; text-align: center">Period</h3>
        <h2 style="text-align: center">2</h2>
    </section>
    <section class="menuitem" style="width: 40%; float: left; background: transparent;">
        <h1 style="text-align: center">Visitor</h1>
        <h1 style="font-size: 120pt; text-align: center">2</h1>
        <h5 style="text-align: center">Shots: 22</h5>
        <h5 style="text-align: center">Hits: 10</h5>
    </section>
</div>
