<div class="panel" ng-controller="ToDoCtrl" style="margin-top: 135px; background: white">
    <div style="width: 70%; float: left; height: 500px; background: lightgray; border-radius: 25px; margin-top: 50px;">
        <h1 style="font-size: 78pt; color: white; background: #003366; border-radius: 25px; padding-left: 20px; margin-top: 0px; align-self: center; font-family: 'Segoe UI Light';">Welcome</h1>
        <h1 style="font-size: 50px; font-family: 'Segoe UI Light'; padding-left: 100px;">to Awesome Arena</h1>
        <h2 style="padding-left: 20px; padding-top: 50px; font-family: 'Segoe UI Light'; font-size: 48pt;">This terminal is your interface to the features and facilities of the arena.</h2>
    </div>
    <div style="width: 30%; float: right; margin-top: 50px; border-radius: 25px;">
        <h2 style="padding-left: 20px; padding-top: 0px; font-family: 'Segoe UI'; font-size: 20pt;">Scoreboard</h2>
        <h4 style="padding-left: 30px; padding-right: 10px; padding-top: 10px; font-family: 'Segoe UI Light'; font-size: 16pt;">Turn this screen into your own live scoreboard!</h4>
        <h2 style="padding-left: 20px; padding-top: 0px; font-family: 'Segoe UI'; font-size: 20pt;">Menu</h2>
        <h4 style="padding-left: 30px; padding-right: 10px; padding-top: 10px; font-family: 'Segoe UI Light'; font-size: 16pt;">Order food right from this screen, with delivery to your seat!</h4>
        <h2 style="padding-left: 20px; padding-top: 0px; font-family: 'Segoe UI'; font-size: 20pt;">Orders</h2>
        <h4 style="padding-left: 30px; padding-right: 10px; padding-top: 10px; font-family: 'Segoe UI Light'; font-size: 16pt;">Finalize and review the status of your food orders.</h4>
        <h2 style="padding-left: 20px; padding-top: 0px; font-family: 'Segoe UI'; font-size: 20pt;">Arena Map</h2>
        <h4 style="padding-left: 30px; padding-right: 10px; padding-top: 10px; font-family: 'Segoe UI Light'; font-size: 16pt;">Locate the nearest concessions and restrooms, with live line status, or find an ATM.</h4>
    </div>
</div>